
<br><br><br>

<div style="text-align: center; color: white;">
    <h1>Legion of Games!</h1>
    <br>
    <h2>Here to help you :)</h2>
    <div style="text-align: center;">
        <button routerLink="/customer" mat-raised-button color="primary">Get ready to roll on!</button>
    </div>
    <br>
    
    </div>
    <mat-card class="card_content" style="text-align: center;">
        <mat-card-content>
            Grace upon the most popular games of all time.
            <br>
            Play to your heart's content in just few clicks..
        </mat-card-content>
    </mat-card>
    <br> <br> 
    <mat-card class="card_content" style="text-align: center;">
        <mat-card-content>
            Embark on a digital odyssey through the captivating realms of interactive entertainment, 
            where pixels form a tapestry of immersive experiences. 
            Navigate strategic challenges, explore open-world expanses, 
            and savor emotional narratives that transcend the boundaries of traditional storytelling.
        </mat-card-content>
    </mat-card><br> <br>
    <mat-card class="card_content" style="text-align: center;">
        <mat-card-content>
            In this condensed universe, every click is a heartbeat, resonating with the essence of play. 
            So, let the pixels illuminate your path, and may your digital adventures be filled with the boundless magic that transcends conventional boundaries.
        </mat-card-content>
    </mat-card>
    <br><br> 


